* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section2 {
  background-color: #160303;
  height: 100vh;
  width: 100vw;
}

.linesOrange {
  background-color: #eb5f10;
  height: 3rem;
  width: 100vw;
  display: flex;
}

.navBars{
  display: flex;
  font-display: row;
  align-items: space-around;
}

.navLink{
  text-decoration: none;
  margin-left: 15rem;
  margin-top: 0.9rem;
  font-size: 1.5rem;
  color: black;
}

.navLink:hover{
  color: blueviolet;
}


.orangeLine1{
    background-color: #eb5f10;
    width: 80%;
    height: .3rem;
    margin-top: 3rem;
    margin-left: 10rem;
}

.paragraph1{
  color: white;
  font-size: 1.7rem;
  margin-left: 16rem;
  margin-top: 1rem;
}

.orangeLine2{
  background-color: #eb5f10;
  width: 80%;
  height: .3rem;
  margin-top: 1rem;
  margin-left: 10rem;
}
.projectSection{
  display: flex;
  font-display: row;
}

.webProject{
  margin-left: 15rem;
  margin-top: 3rem;
}
.projectTitle{
  color: white;
  font-size: 1.9rem;
}

.image4{
  width: 20rem;
  height: 15rem;
}

.projectDescription{
  background-color: rgba(175, 166, 166, 0.651);
  height: 15rem;
  width: 20rem;
  
}
.projectDescriptionBackground{
  background-color: #eb5f10;
  margin-left: 2rem;
  height:2rem;
  width: 70%;
  
}

.thisLink{
  text-decoration: none;
}
.thisNav:hover{
  color: blue;
}

.thisNav{
  color: white;
  font-size: 1.5rem;
}
/* ------------Contact Section------------------- */
.section3{
  background-color: #160303;
  height: 100%;
  width: 100vw;
}
.main1 {
  background-color: #eb5f10;
  height: 3rem;
  width: 100vw;
  display: flex;

}

.navBarMain {
  display: flex;
  font-display: row;
}

.mybars {
  margin-left: 15rem;
  font-size: 1.8rem;
  margin-top: 0.3rem;
  
}
.barLinks{
    text-decoration: none;
    color: black;
    
}
.barLinks:hover{
    color: blueviolet;
}

.content-container-btn-orange-lines{
  display: grid;

}

.orangeLine1{
  background-color: #eb5f10;
  width: 80%;
  height: .3rem;
  margin-top:1rem;
  margin-left: 10rem;
}

.description1{
  display: flex;
  color: white;
  font-size: 1.9rem;
  margin-left: 17rem;
  margin-top: 1rem;
}
/* .background-Content{
  background-color: rgba(21, 167, 212, 0.301);
  margin-left: 15rem;
  height: auto;
  width: 60%;
  margin-top: 1rem;
  border-radius: 3rem; */
}


#para{
  display: flex;
  color: white;
  font-size: 1.9rem;
  margin-left: 15rem;
  margin-top: 10rem;
}
.orangeLine2{
  background-color: #eb5f10;
  width: 80%;
  height: .3rem;
  margin-top: 3rem;
  margin-left: 10rem;
}

.myForm{
  background-color: #eb5f10;
  height: 30rem;
  width: 50rem;
  margin-top: 0.9rem;
  margin-left: 15rem;
}

.formHeadliner{
  background-color: #773008;
  height: 3rem;
  width:50rem ;
  
}

.paragraphTitle{
  color: white;
  font-size: 1.5rem;
  padding: 0.9rem;
}

#structure{
  margin-left: 2rem;
  padding: 2rem;
}

.label1{
  font-size: 1.3rem;
  
}
.label2{
  font-size: 1.3rem;
}
.label3{
  font-size: 1.3rem;}
input{
  width: 70%;
  height: 3rem;
}
.button{
  padding: 1rem;
}

/* ......About Me Section...... */
.divider{
  background-color: #eb5f10;
  width: 95%;
  height: .3rem;
  margin-top: 3rem;
  /* margin-left: 5rem;
  margin-right: 10rem; */
  display: flex;
  justify-content: center;
}

.aboutMimi{
  text-decoration: none;
  color: #eb5f10;
  margin-left: 40rem;
  margin-top: 3rem;
  font-size: 1.9rem;
}

.Me{
  height: 20rem;
  width: 30rem;
  margin-left: 30rem;
  margin-top: 1rem;
}

.meContent{
  width: 30rem;
  margin-left: 30rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.986);
}

.gitHub{
  text-decoration: none;
  font-size: 1.0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mimi{
  padding-left: 1rem;
  padding-right: 1rem;
}