* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section2 {
  background-color: #1d0c01;
  height: 100vh;
  width: 100vw;
}

.linesOrange {
  background-color: #eb5f10;
  height: 3rem;
  width: 100vw;
  display: flex;
}

